<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width" />
   <title>Rocket: Session Example</title>

   <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
   <link rel="stylesheet" href="/css/normalize.css">
   <link rel="stylesheet" href="/css/skeleton.css">
   <link rel="stylesheet" href="/css/style.css">
   <link rel="stylesheet" href="/css/sidenav.css">
   <link rel="icon" type="image/png" href="/images/favicon.png">
</head>

<body>
   <div class="container">

      <h1>Rocket Session Example</h1>
      <p>Logged in with user ID {{ user_id }}.</p>
      <form action="/session/logout" method="post" accept-charset="utf-8">
         <input type="submit" name="logout" id="logout" value="logout" />
      </form>

      <a href="/">Home</a>
   </div>
</body>

</html>